# Ignorar a pasta de configurações do VS Code
.vscode/

# Ignorar pastas de build e cache
dist/
build/
.cache/

# Ignorar dependências (caso use Node.js futuramente)
node_modules/

# Ignorar arquivos de log
*.log

# Ignorar arquivos do sistema
.DS_Store
Thumbs.db
desktop.ini

# Ignorar arquivos específicos (se necessário)
*.min.js
