.footer{
  display: flex;
  justify-content: flex-start;
  width: 880px;  
  }

.footer__paragraph{
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: rgba(84, 84, 84, 1);
  margin: 67px 0 60px;
  text-align: left; 
}


@media (max-width: 1024px){
  .footer{
   
}
}

@media (max-width: 544px){
 .footer{
  max-width: 282px;
 } 

}
