.lead{ 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.lead__title{
    width: 720px;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;   
    margin-bottom: 32px;
}

.lead__subttile{
    width: 720px;
    height: 72px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;    
    margin-bottom: 64px;
}

.lead__img{
    max-width: 984px;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  @media (max-width: 1024px) { 

    .lead__title{
        max-width: 530px;
        height: 158px;
        font-size: 75px;
        line-height: 79px;
        margin: 90px 0 25px;
    }

    .lead__subttile{
        margin: 0 0 30px;
    }

  }

  @media (max-width: 544px) { 

    .lead__title{
        width: 228px;
        height: 88px;
        font-size: 40px;
        line-height: 44px;
        margin: 0 0 16px;
    }

    .lead__subttile{
        width: 288px;
        height: 40px;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 40px;
    }

    .lead__img{    
        width: 100%;      
    }
      }