.photo-grid{
    display: grid;
}

.photo-grid__list{
    display: grid;
    grid-template-columns: repeat(auto-fit, 284px);
    grid-template-rows: repeat(2, auto);
    margin: 118px 48px 92px;
    gap: 16px;
    justify-content: center;
}

.photo-grid__item{
    width: 284px;
    height: 213px;
}

@media (max-width:1024px) {

    .photo-grid__list{
        margin: 64px 24px 88px;
        grid-template-columns: repeat(auto-fit, 352px);
    } 

    .photo-grid__item{
        width: 352px;
    }
}



@media (max-width:544px) {
    .photo-grid__list{
        grid-template-columns: 288px;
        margin: 38px 16px 62px;
        gap: 12px;
    }  
    
    .photo-grid__item{
        width: 288px;
    }
}